{
  "openapi": "3.0.4",
  "info": {
    "title": "Accounting API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://apione.zwapgrid.com/accounting"
    }
  ],
  "paths": {
    "/api/v1/consents/{consentId}/accountbalances": {
      "get": {
        "tags": [
          "Account Balances"
        ],
        "summary": "List account balances",
        "description": "**NOTE**: Some systems only support returning a yearly balance. In that case, the EndDate parameter will be set to the last month of the financial year.",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list account balances.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date that you wish to return account balances for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountBalanceSummaryDtoPagedResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented"
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/consents/{consentId}/accountingaccounts": {
      "get": {
        "tags": [
          "Accounting Accounts"
        ],
        "summary": "List accounting accounts",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list accounting accounts.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns accounting accounts related to specific consent.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccountDtoPagedResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccountDtoPagedResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccountDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/accountingperiods": {
      "get": {
        "tags": [
          "Accounting Periods"
        ],
        "summary": "Get accounting periods",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get accounting periods.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountingPeriodDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented"
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/balancesheet": {
      "get": {
        "tags": [
          "Balance Sheet"
        ],
        "summary": "Get balance sheet",
        "description": "**Note:**\nThe **Level** query parameter denotes the different categorizations between sets of chart of accounts. You can request deeper levels without any restrictions, but the response will be the most detailed levels that the setting for that country allows.\nEach country has different standard depending on the accounting standard adopted.\n\nIn Sweden, the commonly adopted standard is BAS ([https://bas.se](https://bas.se)) which for balance sheet report comprises of 3 levels, for example in Sweden:\n1. **Assets**\n2. **Intangible Assets**\n3. **Patents/Licenses**\n\nIn Finland, the commonly adopted standard is KILA ([https://tilit.info](https://tilit.info/)) which comprises of 4 levels.",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get balance sheet.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date that you wish to return balance sheet for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Level",
            "in": "query",
            "description": "The level that you want to return results for.",
            "schema": {
              "maximum": 5,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceSheetDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented"
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/companyinformation": {
      "get": {
        "tags": [
          "Company Information"
        ],
        "summary": "Get company information",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get company information.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns company information related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInformationDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list customers.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Customers related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get a customer by ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get a customer.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The id of the customer you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns customer related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The customer does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/financialdimensions": {
      "get": {
        "tags": [
          "Financial Dimensions"
        ],
        "summary": "List financial dimensions",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list financial dimensions.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns financial dimensions related to specific consent.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialDimensionDtoPagedResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialDimensionDtoPagedResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialDimensionDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/incomestatement": {
      "get": {
        "tags": [
          "Income Statement"
        ],
        "summary": "Get income statement",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get the income statement.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date that you wish to return income statement for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date that you wish to return income statement for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Level",
            "in": "query",
            "description": "The level that you want to return results for.",
            "schema": {
              "maximum": 5,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncomeStatementDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented"
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/journals": {
      "get": {
        "tags": [
          "Journals"
        ],
        "summary": "List journals",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list journals.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "The start date that you wish to return journals for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "The end date that you wish to return journals for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "The order in which you wish to return results.",
            "schema": {
              "enum": [
                "DateDescending",
                "DateAscending"
              ],
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Journals related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      },
      "post": {
        "tags": [
          "Journals"
        ],
        "summary": "Create a journal",
        "operationId": "PostJournal",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to create a journal.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Journal entity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJournalDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJournalDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJournalDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The journal was created."
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/journals/{journalId}": {
      "get": {
        "tags": [
          "Journals"
        ],
        "summary": "Get a journal by ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get a journal.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "journalId",
            "in": "path",
            "description": "The id of the journal you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns journal related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JournalDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The journal does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/journals/{journalId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Journals - Attachments"
        ],
        "summary": "Get a journal attachment by ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get a journal attachment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "journalId",
            "in": "path",
            "description": "The id of the journal you wish to retrieve attachment for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The id of the attachment you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns journal attachment related to specific consent."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The journal or attachment does not exist.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/journals/{journalId}/attachments": {
      "post": {
        "tags": [
          "Journals - Attachments"
        ],
        "summary": "Create a journal attachment",
        "operationId": "PostJournalAttachment",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to create a journal attachment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "journalId",
            "in": "path",
            "description": "The journal for which you wish to create an attachment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string",
                    "description": "Attachment file.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "attachment": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The journal attachment was created."
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/proxy/{*systemUrl}": {
      "get": {
        "tags": [
          "Proxy.1"
        ],
        "summary": "Proxy request to accounting service",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "*systemUrl",
            "in": "path",
            "description": "The system URL to which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Proxy.1"
        ],
        "summary": "Proxy request to accounting service",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "*systemUrl",
            "in": "path",
            "description": "The system URL to which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Proxy.1"
        ],
        "summary": "Proxy request to accounting service",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "*systemUrl",
            "in": "path",
            "description": "The system URL to which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "Proxy.1"
        ],
        "summary": "Proxy request to accounting service",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "*systemUrl",
            "in": "path",
            "description": "The system URL to which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Proxy.1"
        ],
        "summary": "Proxy request to accounting service",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "*systemUrl",
            "in": "path",
            "description": "The system URL to which you wish to proxy the request.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "List sales invoices",
        "description": "**Note:** System by system filtering depends on the capability of the corresponding system, API.1 will return following message should the corresponding system does not have the capability:\n            \n```$\"Filtering by status {status} is not supported by {system}\");```",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list invoices.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "FromInvoiceDate",
            "in": "query",
            "description": "The start issue date that you wish to return invoices for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ToInvoiceDate",
            "in": "query",
            "description": "The end issue date that you wish to return invoices for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "CreatedDateTime",
            "in": "query",
            "description": "The creation date and time that you wish to return invoices for, in the following format: \"yyyy-MM-ddTHH:mm:ss\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ModifiedDateTime",
            "in": "query",
            "description": "The modification date and time that you wish to return invoices for, in the following format: \"yyyy-MM-ddTHH:mm:ss\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "The order in which you wish to return results.",
            "schema": {
              "enum": [
                "DateDescending",
                "DateAscending"
              ],
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "The status that you wish to return invoices for.\n            \n|System|IsSold|Paid|Unpaid|Overdue|Cancelled|Unsent|\n|-|-|-|-|-|-|-|\n|Fortnox|NA|v|v|v|v|NA|\n|Visma eAccounting|NA|v|v|v|NA|NA|\n|Bjorn Lunden|NA|v|v|v|v|NA|\n|Procountor|v|v|NA|NA|NA|v|\n|Visma Netvisor|NA|v|v|v|v|v|\n|Billy|NA|v|v|NA|NA|NA|\n|Visma Dinero|NA|v|NA|v|NA|NA|\n|Visma e-conomic|NA|v|v|v|NA|NA|\n|Tripletex|NA|NA|NA|NA|NA|NA|\n|Xero|NA|v|v|v|NA|v|",
            "schema": {
              "enum": [
                "Paid",
                "Unpaid",
                "Overdue",
                "Cancelled",
                "Unbooked",
                "Unsent",
                "Draft"
              ],
              "type": "string"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "description": "Use this parameter to include properties that are not returned by default in the response\n            \ne.g.\n- paymentStatus",
            "schema": {
              "$ref": "#/components/schemas/InvoicesListIncludeOptions"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Invoices related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesInvoiceSummaryDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      },
      "post": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Post a sales invoice",
        "operationId": "PostSalesInvoice",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to post an invoice.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Sales invoice entity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesInvoiceInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SalesInvoiceInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SalesInvoiceInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesInvoiceDto"
                }
              }
            }
          },
          "201": {
            "description": "The invoice was created."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/{salesInvoiceId}": {
      "get": {
        "tags": [
          "Sales Invoices"
        ],
        "summary": "Get a sales invoice by ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get an invoice.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of the invoice you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "List of additional entities to return.",
            "schema": {
              "type": "String"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Invoices related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SalesInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The invoice does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/{salesInvoiceId}/attachments": {
      "get": {
        "tags": [
          "Sales Invoices - Attachments"
        ],
        "summary": "List attachments for a sales invoice",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to retrieve invoice attachments.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve attachments for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns invoice attachments related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceAttachmentDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      },
      "post": {
        "tags": [
          "Sales Invoices - Attachments"
        ],
        "summary": "Create an attachment for a sales invoice",
        "operationId": "PostSalesInvoiceAttachment",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to create a sales invoice attachment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of sales invoice for which you wish to create an attachment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "attachment"
                ],
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string",
                    "description": "Attachment file entity.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "attachment": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The sales invoice attachment was created."
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/{salesInvoiceId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Sales Invoices - Attachments"
        ],
        "summary": "Get an attachment for a sales invoice by attachment ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to retrieve invoice attachments.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve the attachment for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The id of the attachment that you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an invoice attachment related to specific consent."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/{salesInvoiceId}/attachments/printable": {
      "get": {
        "tags": [
          "Sales Invoices - Attachments"
        ],
        "summary": "Get a printable sales invoice",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to retrieve a printable invoice.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve a printable invoice for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a printable invoice related to a specific consent."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/{salesInvoiceId}/notes": {
      "post": {
        "tags": [
          "Sales Invoices - Notes"
        ],
        "summary": "Add a note to a sales invoice",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent which owns the invoice you want to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of the invoice you wish to add a note to.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The note you wish to add to the invoice.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesInvoiceNoteDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesInvoiceNoteDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesInvoiceNoteDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns location where the updated Invoice can be found."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The invoice does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/payments": {
      "get": {
        "tags": [
          "Sales Invoices - Payments"
        ],
        "summary": "List sales invoices payments",
        "operationId": "GetSalesInvoicesPayments",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list invoices payments.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Sales invoices payments related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaymentDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/salesinvoices/{salesInvoiceId}/payments": {
      "post": {
        "tags": [
          "Sales Invoices - Payments"
        ],
        "summary": "Create a sales invoice payment",
        "operationId": "PostSalesInvoicePayment",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to create a sales invoice payment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of sales invoice for which you wish to create a payment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Sales invoice payment entity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesInvoicePaymentDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesInvoicePaymentDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesInvoicePaymentDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The sales invoice payment was created successfully."
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint."
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      },
      "get": {
        "tags": [
          "Sales Invoices - Payments"
        ],
        "summary": "List payments from a single sales invoice",
        "operationId": "GetSalesInvoicePayments",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list invoices.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "salesInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve payments for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns payments of an invoice related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaymentDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/supplierinvoices": {
      "get": {
        "tags": [
          "Supplier Invoices"
        ],
        "summary": "List supplier invoices",
        "description": "**Note:** System by system filtering depends on the capability of the corresponding system, API.1 will return following message should the corresponding system does not have the capability:\n            \n```$\"Filtering by status {status} is not supported by {system}\");```",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list invoices.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "description": "The number of records that you want to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentPage",
            "in": "query",
            "description": "The page that you want to return results for.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "FromInvoiceDate",
            "in": "query",
            "description": "The start issue date that you wish to return invoices for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ToInvoiceDate",
            "in": "query",
            "description": "The end issue date that you wish to return invoices for, in the following format: \"YYYY-MM-DD\"",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "The order in which you wish to return results.",
            "schema": {
              "enum": [
                "DateDescending",
                "DateAscending"
              ],
              "type": "string"
            }
          },
          {
            "name": "Status",
            "in": "query",
            "description": "The status that you wish to return invoices for.\n\n|System|IsSold|Paid|Unpaid|Overdue|Cancelled|Unsent|\n|-|-|-|-|-|-|-|\n|Fortnox|NA|v|v|v|v|NA|\n|Visma eAccounting|NA|v|NA|NA|NA|NA|\n|Bjorn Lunden|NA|NA|v|v|NA|NA|\n|Procountor|NA|v|NA|NA|v|v|\n|Visma Netvisor|NA|v|v|NA|NA|NA|\n|Billy|NA|v|NA|NA|NA|NA|\n|Business Central|NA|v|v|NA|v|NA|",
            "schema": {
              "enum": [
                "IsSold",
                "Paid",
                "Unpaid",
                "Overdue",
                "Cancelled",
                "Unsent"
              ],
              "type": "string"
            }
          },
          {
            "name": "Include",
            "in": "query",
            "schema": {
              "type": "String"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns supplier invoices related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierInvoiceSummaryDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      },
      "post": {
        "tags": [
          "Supplier Invoices"
        ],
        "summary": "Post a supplier invoice",
        "operationId": "PostSupplierInvoice",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to post an invoice.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Supplier invoice entity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierInvoiceInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierInvoiceInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SupplierInvoiceInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierInvoiceDto"
                }
              }
            }
          },
          "201": {
            "description": "The invoice was created."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/supplierinvoices/{supplierInvoiceId}": {
      "get": {
        "tags": [
          "Supplier Invoices"
        ],
        "summary": "Get a supplier invoice by ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to get an invoice.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "List of additional entities to return.",
            "schema": {
              "type": "String"
            }
          },
          {
            "name": "supplierInvoiceId",
            "in": "path",
            "description": "The id of the invoice you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Invoices related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupplierInvoiceDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "The invoice does not exist."
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/supplierinvoices/{supplierInvoiceId}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Supplier Invoices - Attachments"
        ],
        "summary": "Get an attachment for a supplier invoice by attachment ID",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to retrieve invoice attachments.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "supplierInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve the attachment for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The id of the attachment that you wish to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an invoice attachment related to specific consent."
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/supplierinvoices/{supplierInvoiceId}/attachments": {
      "post": {
        "tags": [
          "Supplier Invoices - Attachments"
        ],
        "summary": "Create an attachment for a supplier invoice",
        "operationId": "PostSupplierInvoiceAttachment",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to create a supplier invoice attachment.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "supplierInvoiceId",
            "in": "path",
            "description": "The id of supplier invoice for which you wish to create an attachment.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "attachment"
                ],
                "type": "object",
                "properties": {
                  "attachment": {
                    "type": "string",
                    "description": "Attachment file entity.",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "attachment": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The supplier invoice attachment was created."
          },
          "400": {
            "description": "The request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      },
      "get": {
        "tags": [
          "Supplier Invoices - Attachments"
        ],
        "summary": "List attachments for a supplier invoice",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to retrieve invoice attachments.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "supplierInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve attachments for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns invoice attachments related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceAttachmentDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorised to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/supplierinvoices/payments": {
      "get": {
        "tags": [
          "Supplier Invoices - Payments"
        ],
        "summary": "List payments from supplier invoices",
        "operationId": "GetSupplierInvoicesPayments",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list invoices.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns supplier invoices payments related to specific consent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaymentDtoPagedResultDto"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to access this API endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "501": {
            "description": "This functionality has not been implemented yet."
          }
        }
      }
    },
    "/api/v1/consents/{consentId}/supplierinvoices/{supplierInvoiceId}/payments": {
      "get": {
        "tags": [
          "Supplier Invoices - Payments"
        ],
        "summary": "List payments from a single supplier invoice",
        "operationId": "GetSupplierInvoicePayments",
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "description": "The consent for which you wish to list invoices.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "supplierInvoiceId",
            "in": "path",
            "description": "The id of the invoice that you wish to retrieve payments for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "A unique GUID that can be used to track this request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns payments of an invoice related to specific consent.",
[...]
